<div class="card card-primary" style="margin: 20px;">
    <h3 class="card-header bg-dark">Chi tiết phiên</h3>
    <div class="card-body">
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="name">
                Sản phẩm
            </label>
            <div class="col-md-9">
                <p>{{product.name}}</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="description">
                Ảnh
            </label>
            <div class="col-md-9">
                <img width="200" height="200" src="{{getImagePath(product.coverImageUrl)}}" alt="">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">
                Giá khởi đầu
            </label>
            <div class="col-md-3">
                <p> {{auction.initPrice | currency: 'VND'}}
                    <span>VND</span>
                </p>
            </div>

        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">
                Giá chấp nhận
            </label>
            <div class="col-md-3">
                <p> {{auction.minAcceptPrice | currency: 'VND'}}
                    <span>VND</span>
                </p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">
                Bắt đầu
            </label>
            <div class="col-md-3">
                <p> {{auction.startDate | date: 'short'}}
                </p>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">
                Kết thúc
            </label>
            <div class="col-md-3">
                <p> {{auction.endDate | date: 'short'}}
                </p>
            </div>

        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">
                Giá hiện tại
            </label>
            <div class="col-md-3">
                <p> {{auction.currentPrice | currency: 'VND'}}
                    <span>VND</span>
                </p>
            </div>

        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">
                Tên người hiện tại
            </label>
            <div class="col-md-3">
                <p> {{auction.userName}}
                </p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">
                Thời gian cuối
            </label>
            <div class="col-md-3">
                <p> {{auction.lastBidTime | date: 'short'}}
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">
                Các lần đặt giá
            </label>
            <div class="col-md-12">
                <div class="table-responsive">

                </div>
                <table class="table table-hover text-nowrap" [busy]="isTableLoading">
                    <thead class="bg-light">
                        <tr>
                            <th>{{ "Id" | localize }}</th>
                            <th>{{ "Bidder" | localize }}</th>
                            <th>{{ "Price" | localize }}</th>
                            <th>{{ "Bid time" | localize }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="
                let item of bids
                  | paginate
                    : {
                        id: 'server',
                        itemsPerPage: pageSize,
                        currentPage: pageNumber,
                        totalItems: totalItems
                      }
              ">
                            <td>{{item.id}}</td>
                            <td>{{item.userName}}</td>
                            <td>{{item.bidPrice | currency: 'VND'}}</td>
                            <td>{{item.bidTime | date: 'short' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-4 col-12 text-sm-left text-center">
                        <button class="btn btn-secondary" (click)="loadBids()">
                            <i class="fas fa-redo-alt"></i>
                        </button>
                    </div>
                    <div class="col-sm-4 col-12 text-center">
                        <p class="mb-0 my-2">
                            {{ "TotalRecordsCount" | localize: totalItems }}
                        </p>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="float-sm-right m-auto">
                            <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
                            </abp-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label class="col-md-3 col-form-label">
                    Lập hóa đơn
                </label>
                <input class="form-control col-md-3" type="text" name="serialNo" [disabled]="isActive(auction.endDate)"
                    [(ngModel)]="serialNumber" placeholder="Số hóa đơn" id="serialNo">
                <div class="col-md-3"> 
                    <button class="btn btn-primary" (click)="makeInvoice()"
                        [disabled]="isActive(auction.endDate)">Lập</button>
                </div>
            </div>
        </div>


    </div>
</div>