<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Tổng quan</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="row" *ngIf="!forAdmin">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{data.orderCount}}</h3>
                            <p>Đơn hàng</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-file-invoice-dollar"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{data.auctionCount}}</h3>
                            <p>Số phiên đấu giá</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-balance-scale"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>{{data.productCount}}</h3>
                            <p>Sản phẩm</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-store"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3>{{data.revenueCount | currency: 'VND'}}</h3>
                            <p>Doanh thu</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-money-bill-wave"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="forAdmin">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{data.sellerCount}}</h3>
                            <p>Đối tác</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-store"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{data.auctionCount}}</h3>
                            <p>Số phiên đấu giá</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-balance-scale"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>{{data.productCount}}</h3>
                            <p>Sản phẩm</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-store"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3>{{data.revenueCount | currency: 'VND'}}</h3>
                            <p>Doanh thu</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-money-bill-wave"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
            </div>

        </div>
    </section>

    <section *ngIf="forAdmin" class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Biểu đồ hoạt động đấu giá trong tuần</h1>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="forAdmin" class="content px-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <div>
                            <div style="display: block">
                                <canvas baseChart [datasets]="barchart.data" [labels]="barchart.labels"
                                    [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                                    [chartType]="barChartType">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>