<div class="card" [@routerTransition]>
    <section class="content-header card-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>{{ "Báo cáo doanh thu" | localize }}</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="card-body">
        <section class="print-hidden">
            <div class="container-fluid">
                <div class="form-group row">
                    <label for="report-name" class="col-md-2 col-sm-6">Tên báo cáo:</label>
                    <select [(ngModel)]="currentReport" class="form-control" class="col-md-3 col-sm-6"
                        name="report-name">
                        <option *ngFor="let report of reportName" [ngValue]="report.val">{{report.name}}</option>
                    </select>
                </div>

                <div *ngIf="currentReport==2" class="form-group row">
                    <label class="col-md-2 col-sm-6">Kỳ báo cáo:</label>
                    <input required [(ngModel)]="month" type="month" name="month-year" id="month-year">
                </div>

                <div *ngIf="currentReport==3" class="form-group row">
                    <label class="col-md-2 col-sm-6">Kỳ báo cáo:</label>
                    <input required [(ngModel)]="year" type="number" min="1900" max="2099" step="1" value="2020" />
                </div>

                <div class="row form-group">
                    <button (click)="loadData()" class="btn btn-primary">Hiển thị</button>
                </div>
            </div>
        </section>
        <section *ngIf="dataLoadDone" class="content px-2">
            <div class="container-fluid printableArea" style="margin: 20px 10px 20px 10px;" id="print">
                <div class="card">
                    <div class="card-header text-center">
                        {{report.reportName | uppercase}}
                    </div>
                    <div class="card-body">
                        <i>{{report.time}}</i>
                    </div>
                    <div class="card-body table-responsive p-10">
                        <table class="table table-bordered text-nowrap" [busy]="isTableLoading">
                            <thead class="bg-dark">
                                <tr>
                                    <th style="width: 30px;">STT</th>
                                    <th *ngFor="let label of report.columnLabels">
                                        {{label}}
                                    </th>
                                    <!-- <th>{{ "Id" | localize }}</th>
                                    <th>{{ "Name" | localize }}</th>
                                    <th>{{ "Image" | localize }}</th>
                                    <th>{{ "Price" | localize }}</th>
                                    <th style="width: 310px;">{{ "Hành động" | localize }}</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="
                          let item of report.items
                                ;let i = index
                        ">
                                    <td>{{i+1}}</td>
                                    <td *ngFor="let child of item"> {{child}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </section>
    </div>

    <div class="card-footer bg-light border-top print-hidden">
        <button class="btn btn-primary" *ngIf="dataLoadDone" 
        (click)="print()"
        >In Báo cáo</button>
    </div>

</div>