  <form autocomplete="off" style="margin-left: 20px; margin-right: 20px;" #createBrandForm="ngForm">
    <div class="card card-primary" style="margin-top: 20px;">
      <h3 class="card-header bg-dark">{{title}}</h3>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Name" | localize }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="name" id="name" required maxlength="32" [(ngModel)]="brand.name"
              #nameModel="ngModel" #nameEl />
            <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="description">
            Mô tả
          </label>
          <div class="col-md-9">
            <textarea type="text" rows="10" cols="70" class="form-control" name="description" id="description"
              maxlength="300" [(ngModel)]="brand.description" #descriptionModel="ngModel" #descriptionEl></textarea>
            <abp-validation-summary [control]="descriptionModel" [controlEl]="descriptionEl"></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">
            Logo
          </label>
          <div class="col-md-3">
            <button type="button" class="btn btn-primary" (click)="openImagePicker()">Pick</button>
          </div>
    
          <div class="col-md-12">
            <img width="100" height="100" *ngIf="brand.brandImageId" src="{{getImagePath(brand.brandImageUrl)}}" alt="">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <button [(disabled)]="!createBrandForm.form.valid" (click)="save()" class="btn btn-primary">Save</button>
          </div>
        </div>      
    </div>
  </form>