<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card card-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-primary">
          <div class="widget-user-image">
            <img class="img-circle elevation-2" src="{{getImagePath(seller.logoUrl)}}" alt="User Avatar">
          </div>
          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">{{seller.name}}</h3>
        </div>
        <div class="card-footer p-0">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link">
                Đã bán được <span class="float-right badge bg-primary">{{seller.orderCount}}</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                Đã tổ chức <span class="float-right badge bg-info">{{seller.auctionCount}}</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="card-body">
          <p class="p-10">{{seller.description}}</p>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Các phiên đấu giá hiện tại</div>
        <div class="container" style="margin-top: 10px;">
          <div class="row">
            <div *ngFor="let item of items" #auctioncard class="col-md-4 col-sm-6">
              <div class="card card-primary">
                <div class="card-header">
                  <!-- <a class="text-uppercase" routerLink="auction/{{item.id}}">{{item.productName}}</a> -->
                  <a class="text-uppercase" routerLink="/storefront/auction/{{item.id}}">{{item.productName}}</a>
                </div>
                <div class="card-body">
                  <img class="img-fluid" src="{{getImagePath(item.productImage)}}" alt="">
                  <!-- <img class="img-fluid" src="{{getImagePath(item.productImage)}}" alt=""> -->
                  <div class="bid-info">
                    <app-auction-countdown (onEndCountdown)="oneCountdownEnd($event)" [endTime]="item.endTime">
                    </app-auction-countdown>
                    <!-- <countdown class="text-orange text-lg" [config]="{ stopTime: calculateEndTime(item.endTime), format: 'hh:mm:ss'  }">
                      </countdown> -->
                    <div style="display: flex; flex-direction: row; width: 100%;">
                      <div>{{item.currentPrice | currency: 'VND'}}</div>
                      <div style="margin-left: auto;">{{item.numberOfBid}} Bids</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
        <div class="card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
            </div>
            <div class="col-sm-4 col-12 text-center">
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls [maxSize]="3" id="server" (pageChange)="getDataPage($event)">
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
