<form
  class="form-horizontal"
  autocomplete="false"
  #createUserModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Upload images'"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <input type="file" name="file" id="file" multiple (change)="handleFileSelect($event.target.files)">
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>